/*
Theme: Eremex
Author: Powertech https://www.freelancer.com/users/713214.html
*/

@import url('../../Contoso/Styles/Site.css');

#branding a {
    display: block;
    width:  206px;
    height: 32px;
    background: url('Images/logo.gif') no-repeat;
    text-indent: -999em;
}

/* Navigation */
nav .menu li 
{
    float: none;
}
#layout-navigation 
{
    width: 960px;
    margin: 0 auto 20px;
    display: block;
    border-bottom: 1px solid #dbdbdb;
}
nav {
    background-image: none;
}
.widget-main-menu nav {
    background: url("../Content/Images/menu-left.png") no-repeat scroll left top transparent;
}

nav ul 
{
    padding: 0px;
    margin: 0px;
}

    nav ul li
    {
        background:#f6f6f6;
        display:block;
        margin:0 0px -1px 0;
    }
    nav > ul li.current 
    {
    }
    nav ul li a 
    {
        padding:0 18px;
        display:block;
        color: #333;
        font-size: 1.077em;
        text-decoration:none;
        line-height:24px;
    }


/* first level */
nav > ul.menu > li { float:left; }
nav > ul > li > a { float:left; }
nav > ul > li:hover > ul { display:block; }
nav > ul > li:hover { }

/* second level */
nav > ul > li > ul  
{
    margin: 40px 0px 0px 0px; 
    padding:0px; display:none; 
    position:absolute; 
    z-index: 1;
}
nav > ul > li > ul > li { list-style-type:none; margin:0px; border: none;}
nav > ul > li > ul > li > a  
{
    display:block; text-decoration:none;
    background: #656761;
    margin-right: 0;
}
nav > ul > li > ul > li:hover > a  {}
nav >ul.menu > li > ul > li > a:hover
{
    margin-right: 0;
}
nav >ul.menu > li > ul > li:first-child > a:hover
{
    background: url("../Content/Images/menu-hover.png") repeat-x scroll right top #9DC975;    
    margin-right: 0;
}

nav > ul > li > ul > li:hover > ul { display:block; }

/* third level */
nav > ul > li > ul > li > ul { margin: -20px -1px 0px 90% ; padding:0px; display:none; position:absolute; border: 1px solid #dbdbdb; }
nav > ul > li > ul > li > ul > li { list-style-type:none; margin:0px; border: none;}
nav > ul > li > ul > li > ul > li > a { display:block; text-decoration:none;}
nav > ul > li > ul > li > ul > li:hover > a { }

/* deeper levels */
nav > ul > li > ul > li > ul ul { display:none; }

.widget-culture-picker-widget 
{
    position: absolute;
    right: 0;
    top: 10px;    
}
.widget-culture-picker-widget label 
{
    display: none;
}

.widget-search-form 
{
    top: 10px;
}

/* Breadcrumb */
nav ul.breadcrumb 
{
    border:none;
    display: inline-block;
    margin: -9px;
}

    nav ul.breadcrumb li
    {
        border:none;
        background:none;
        float:left;
        margin:0 2px -1px 0;
    }

    nav ul.breadcrumb li:after
    {
        content: "/"
    }
    
    nav ul.breadcrumb li.last:after
    {
        content: ""
    }

        nav ul.breadcrumb li a 
        {
            padding:0 9px;
            display:block;
            color: #5F97AF;
            font-size: 100%;
        }
        
        nav ul.breadcrumb li a:hover
        {
            text-decoration: underline;
        }
        
.download.content-item header
{
    display:none;
}
a.nolink
{
    cursor: default;
}
.widget-footer 
{
    float: left;
}

    